<%- include('partials/header'); -%>
    <main>
        <div class="box">
            <h1>404!</h1>
            <p>
                <%= errorMsg %>
            </p>
        </div>
    </main>
    <%- include('partials/footer'); -%>