<%- include('partials/header'); -%>
<main>
    <div id="search-box" class="card text-center">
        <h5 class="card-header">Search for a location</h5>
        <div class="card-body ">
            <p>Pogoda dla: Rzeszów</p>
        </div>
    </div>
</main>
<%- include('partials/footer'); -%>